<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.lawyer.CostLogMapper">

    <resultMap type="CostLog" id="CostLogResult">
        <id     property="id"      column="id"      />
        <result property="cost"    column="cost"    />
        <result property="sum"     column="sum"     />
        <result property="taskId"   column="task_id"   />
        <result property="lawyerId"    column="lawyer_id"    />
        <result property="type"    column="type"    />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <select id="list" parameterType="CostLog" resultMap="CostLogResult">
        select id,
        cost,
        `sum`,
        task_id,
        lawyer_id,
        `type`,
        create_by,create_time
        ,update_by,update_time
        from lawyer_cost_log
        where 1=1
        <if test="lawyerId != null">and lawyer_id = #{lawyerId}</if>
    </select>
    <select id="newCostLog" parameterType="Long" resultMap="CostLogResult">
        select id,
        cost,
        `sum`,
        task_id,
        lawyer_id,
        `type`,
        create_by,create_time
        ,update_by,update_time
        from lawyer_cost_log
        where lawyer_id = #{id}
        ORDER BY create_time DESC LIMIT 1
    </select>
    <select id="item" parameterType="CostLog" resultMap="CostLogResult">
        select id,
        cost,
        `sum`,
        task_id,
        lawyer_id,
        `type`,
        create_by,create_time
        ,update_by,update_time
        from lawyer_task
        where 1=1
        <if test="id != null and id != '' ">and id = #{id}</if>
    </select>
    <insert id="add" parameterType="CostLog">
        insert into lawyer_cost_log (
        <if test="cost != null">cost,</if>
        <if test="sum != null">sum,</if>
        <if test="taskId != null and taskId != '' ">task_id,</if>
        <if test="lawyerId != null and lawyerId != '' ">lawyer_id,</if>
        <if test="type != null">type,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="cost != null">#{cost},</if>
        <if test="sum != null">#{sum},</if>
        <if test="taskId != null and taskId != '' ">#{taskId},</if>
        <if test="lawyerId != null and lawyerId != '' ">#{lawyerId},</if>
        <if test="type != null">#{type},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="edit" parameterType="CostLog">
        update lawyer_cost_log
        <set>
            <if test="cost != null">cost = #{cost},</if>
            <if test="sum != null">sum = #{sum},</if>
            <if test="taskId != null and taskId != '' ">task_id = #{taskId},</if>
            <if test="lawyerId != null and lawyerId != '' ">lawyer_id = #{lawyerId},</if>
            <if test="type != null">type =#{type},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="del" parameterType="Long">
        delete from lawyer_cost_log where id = #{id}
    </delete>


</mapper>
