<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.lawyer.NewsMapper">

    <resultMap type="News" id="NewsResult">
        <id     property="id"      column="id"      />
        <result property="smallIcon"    column="small_icon"    />
        <result property="name"     column="name"     />
        <result property="type"   column="type"   />
        <result property="author"    column="author"    />
        <result property="synopsis"    column="synopsis"    />
        <result property="num"    column="num"    />
        <result property="info"    column="info"    />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <select id="list" parameterType="News" resultMap="NewsResult">
        select id,small_icon,`name`,`type`,num,
               author,synopsis,create_by,create_time
               ,update_by,update_time
        <if test="id != null and id != '' ">,info</if>
        from lawyer_news
        where 1=1
        <if test="id != null and id != '' ">and id = #{id}</if>
        <if test="name != null and name != '' ">and `name` like concat('%', #{name}, '%')</if>
        <if test="type &gt; 0">and type = #{type}</if>
    </select>
    <select id="item" parameterType="News" resultMap="NewsResult">
        select id,
        small_icon,
        name,
        type,
        author,
        synopsis,
        num,
        info,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        from lawyer_news
        where 1=1
        <if test="id != null and id != '' ">and id = #{id}</if>
    </select>
    <insert id="add" parameterType="News">
        insert into lawyer_news (
        <if test="smallIcon != null and smallIcon != '' ">small_icon,</if>
        <if test="name != null and name != '' ">name,</if>
        <if test="type != null and type != '' ">type,</if>
        <if test="author != null and author != '' ">author,</if>
        <if test="synopsis != null and synopsis != '' ">synopsis,</if>
        <if test="info != null and info != '' ">info,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="smallIcon != null and smallIcon != '' ">#{smallIcon},</if>
        <if test="name != null and name != '' ">#{name},</if>
        <if test="type != null and type != '' ">#{type},</if>
        <if test="author != null and author != '' ">#{author},</if>
        <if test="synopsis != null and synopsis != '' ">#{synopsis},</if>
        <if test="info != null and info != '' ">#{info},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="edit" parameterType="News">
        update lawyer_news
        <set>
            <if test="smallIcon != null and smallIcon != '' ">small_icon = #{smallIcon},</if>
            <if test="name != null and name != '' ">`name` = #{name},</if>
            <if test="type != null and type != '' ">`type` = #{type},</if>
            <if test="author != null and author != '' ">author = #{author},</if>
            <if test="synopsis != null and synopsis != '' ">synopsis = #{synopsis},</if>
            <if test="info != null and info != '' ">info = #{info},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            num = num+1,
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="del" parameterType="Long">
        delete from lawyer_news where id = #{id}
    </delete>


</mapper>
