<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.lawyer.TaskMapper">

    <resultMap type="Task" id="TaskResult">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="orderNo" column="order_no"/>
        <result property="cid" column="cid"/>
        <result property="cName" column="c_name"/>
        <result property="pid" column="pid"/>
        <result property="pName" column="p_name"/>
        <result property="phone" column="phone"/>
        <result property="need" column="need"/>
        <result property="povinceId" column="povince_id"/>
        <result property="povince" column="povince"/>
        <result property="money" column="money"/>
        <result property="profit" column="profit"/>
        <result property="cost" column="cost"/>
        <result property="content" column="content"/>
        <result property="isHall" column="is_hall"/>
        <result property="entrust" column="entrust"/>
        <result property="lawyerId" column="lawyer_id"/>
        <result property="lawyerName" column="lawyer_name"/>
        <result property="lawyerType" column="lawyer_type"/>
        <result property="fastLawyerId" column="fast_lawyer_id"/>
        <result property="fastLawyerName" column="fast_lawyer_name"/>
        <result property="fastLawyerType" column="fast_lawyer_type"/>
        <result property="willing" column="willing"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="list" parameterType="Task" resultMap="TaskResult">
        select id,
        `no`,
        `name`,
        `type`,
        status,
        pay_status,
        order_no,
        cid,
        c_name,
        pid,
        p_name,
        phone,
        need,
        povince_id,
        povince,
        money,
        profit,
        cost,
        content,
        is_hall,
        entrust,
        lawyer_id,
        lawyer_name,
        lawyer_type,
        fast_lawyer_id,
        fast_lawyer_name,
        fast_lawyer_type,
        willing,
        create_by,create_time,
        update_by,update_time,
        remark
        from lawyer_task
        where 1=1
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="lawyerId != null">and lawyer_id = #{lawyerId}</if>
        <if test="fastLawyerId == null">and fast_lawyer_id IS NULL</if>
        <if test="fastLawyerId != null and fastLawyerId != 1 and fastLawyerId != 2">and fast_lawyer_id = #{fastLawyerId}</if>
        <if test="fastLawyerId == 1">and fast_lawyer_id IS NOT NULL</if>
        <if test="status != null">and status = #{status}</if>
        <if test="status == null">and status != -1</if>
        <if test="no != null and no != '' ">and `no` like concat('%', #{no}, '%')</if>
        <if test="pName != null and pName != '' ">and p_name like concat('%', #{pName}, '%')</if>
        <if test="cName != null and cName != '' ">and c_name like concat('%', #{cName}, '%')</if>
        <if test="fastLawyerName != null">and fast_lawyer_name like concat('%', #{fastLawyerName}, '%')</if>
        <if test="type != null">and type = #{type}</if>
        <if test="fastLawyerType != null">and fast_lawyer_type = #{fastLawyerType}</if>
        <if test="isHall != null">and is_hall = #{isHall}</if>
        <if test="payStatus != null">and pay_status = #{payStatus}</if>
        <if test="povinceId != null and povinceId != 0">and CAST(povince_id AS char) like concat('%', #{povinceId}, '%')</if>
        order by create_time desc
    </select>

    <select id="lawyer1list" parameterType="Task" resultMap="TaskResult">
        select id,
        `no`,
        `name`,
        `type`,
        status,
        pay_status,
        order_no,
        cid,
        c_name,
        pid,
        p_name,
        phone,
        need,
        povince_id,
        povince,
        money,
        profit,
        cost,
        content,
        is_hall,
        entrust,
        lawyer_id,
        lawyer_name,
        lawyer_type,
        fast_lawyer_id,
        fast_lawyer_name,
        fast_lawyer_type,
        willing,
        create_by,create_time,
        update_by,update_time,
        remark
        from lawyer_task
        where (is_hall = 1 and status = 5)  or (status = 4 and lawyer_id = #{lawyerId})
        <if test="povinceId != null and povinceId != 0">and CAST(povince_id AS char) like concat('%', #{povinceId}, '%')</if>
        <if test="type != null">and type = #{type}</if>
        <if test="status == null">status != -1</if>
        order by create_time desc
    </select>
    <select id="item" parameterType="Task" resultMap="TaskResult">
        select id,
        `no`,
        `name`,
        `type`,
        status,
        pay_status,
        order_no,
        cid,
        c_name,
        pid,
        p_name,
        phone,
        need,
        povince_id,
        povince,
        money,
        profit,
        cost,
        content,
        is_hall,
        entrust,
        lawyer_id,
        lawyer_name,
        lawyer_type,
        fast_lawyer_id,
        fast_lawyer_name,
        fast_lawyer_type,
        willing,
        create_by,create_time,
        update_by,update_time,
        remark
        from lawyer_task
        where 1=1
        <if test="id != null and id != '' ">and id = #{id}</if>
    </select>
    <select id="itemNo" parameterType="Task" resultMap="TaskResult">
        select id,
        `no`,
        `name`,
        `type`,
        status,
        order_no,
        pay_status,
        cid,
        c_name,
        pid,
        p_name,
        phone,
        need,
        povince_id,
        povince,
        money,
        profit,
        cost,
        content,
        is_hall,
        entrust,
        lawyer_id,
        lawyer_name,
        lawyer_type,
        fast_lawyer_id,
        fast_lawyer_name,
        fast_lawyer_type,
        willing,
        create_by,create_time,
        update_by,update_time,
        remark
        from lawyer_task
        where 1=1
        <if test="no != null and no != '' ">and `no` = #{no}</if>
    </select>
    <insert id="add" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into lawyer_task (
        <if test="no != null and no != '' ">`no`,</if>
        <if test="name != null and name != '' ">`name`,</if>
        <if test="type != null and type != '' ">`type`,</if>
        <if test="status != null and status != '' ">status,</if>
        <if test="payStatus != null and payStatus != '' ">pay_status,</if>
        <if test="orderNo != null and orderNo != '' ">order_no,</if>
        <if test="cid != null and cid != '' ">cid,</if>
        <if test="cName != null and cName != '' ">c_name,</if>
        <if test="pid != null and pid != '' ">pid,</if>
        <if test="pName != null and pName != '' ">p_name,</if>
        <if test="phone != null and phone != '' ">phone,</if>
        <if test="need != null and need != '' ">need,</if>
        <if test="povinceId != null and povinceId != '' ">povince_id,</if>
        <if test="povince != null and povince != '' ">povince,</if>
        <if test="money != null and money != '' ">money,</if>
        <if test="cost != null and cost != '' ">cost,</if>
        <if test="content != null and content != '' ">content,</if>
        <if test="isHall != null and isHall != '' ">is_hall,</if>
        <if test="entrust != null and entrust != '' ">entrust,</if>
        <if test="lawyerId != null and lawyerId != '' ">lawyer_id,</if>
        <if test="lawyerName != null and lawyerName != '' ">lawyer_name,</if>
        <if test="lawyerType != null">lawyer_type,</if>
        <if test="fastLawyerId != null and fastLawyerId != '' ">fast_lawyer_id,</if>
        <if test="fastLawyerName != null and fastLawyerName != '' ">fast_lawyer_name,</if>
        <if test="fastLawyerType != null">fast_lawyer_type,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="no != null and no != '' ">#{no},</if>
        <if test="name != null and name != '' ">#{name},</if>
        <if test="type != null and type != '' ">#{type},</if>
        <if test="status != null and status != '' ">#{status},</if>
        <if test="payStatus != null and payStatus != '' ">#{payStatus},</if>
        <if test="orderNo!= null and orderNo != '' ">#{orderNo},</if>
        <if test="cid != null and cid != '' ">#{cid},</if>
        <if test="cName != null and cName != '' ">#{cName},</if>
        <if test="pid != null and pid != '' ">#{pid},</if>
        <if test="pName != null and pName != '' ">#{pName},</if>
        <if test="phone != null and phone != '' ">#{phone},</if>
        <if test="need != null and need != '' ">#{need},</if>
        <if test="povinceId != null and povinceId != '' ">#{povinceId},</if>
        <if test="povince != null and povince != '' ">#{povince},</if>
        <if test="money != null and money != '' ">#{money},</if>
        <if test="cost != null and cost != '' ">#{cost},</if>
        <if test="content != null and content != '' ">#{content},</if>
        <if test="isHall != null and isHall != '' ">#{isHall},</if>
        <if test="entrust != null and entrust != '' ">#{entrust},</if>
        <if test="lawyerId != null and lawyerId != '' ">#{lawyerId},</if>
        <if test="lawyerName != null and lawyerName != '' ">#{lawyerName},</if>
        <if test="lawyerType != null">#{lawyerType},</if>
        <if test="fastLawyerId != null and fastLawyerId != '' ">#{fastLawyerId},</if>
        <if test="fastLawyerName != null and fastLawyerName != '' ">#{fastLawyerName},</if>
        <if test="fastLawyerType != null">#{fastLawyerType},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="edit" parameterType="Task">
        update lawyer_task
        <set>
            <if test="status != null and status != '' ">status = #{status},</if>
            <if test="payStatus != null and payStatus != '' ">pay_status = #{payStatus},</if>
            <if test="lawyerId != null and lawyerId != '' ">lawyer_id = #{lawyerId},</if>
            <if test="lawyerName != null and lawyerName != '' ">lawyer_name = #{lawyerName},</if>
            <if test="lawyerType != null">lawyer_type = #{lawyerType},</if>
            <if test="fastLawyerId != null and fastLawyerId != '' ">fast_lawyer_id = #{fastLawyerId},</if>
            <if test="fastLawyerName != null and fastLawyerName != '' ">fast_lawyer_name = #{fastLawyerName},</if>
            <if test="fastLawyerType != null">fast_lawyer_type = #{fastLawyerType},</if>
            <if test="cost != null and cost != '' ">cost = #{cost},</if>
            <if test="content != null and content != '' ">content = #{content},</if>
            <if test="profit != null and profit != '' ">profit = #{profit},</if>
            <if test="isHall != null and isHall != '' ">is_hall = #{isHall},</if>
            <if test="entrust != null and entrust != '' ">entrust = #{entrust},</if>
            <if test="willing != null and willing != '' ">willing = #{willing},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
    <update id="reject" parameterType="Long">
        update lawyer_task SET lawyer_type = NULL ,lawyer_name = NULL,lawyer_id = NULL,status = 3
        where id = #{id}
    </update>
    <delete id="del" parameterType="Long">
        delete
        from lawyer_task
        where id = #{id}
    </delete>


</mapper>
